
* {
	box-sizing: border-box;
	font-family: Arial;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	color: blue;
	font-weight: bold;
}

input[type=submit] {
	background-color: blue;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #34a4eb;
}

.add{
	background-color: green;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.add:hover {
	background-color: #2ad143;
}

.remove{
	background-color: red;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.remove:hover {
	background-color: #ff4a3d;
}


.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.edit{
	background-color: blue;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

.edit:hover {
	background-color: #34a4eb;
}


.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-50 {
	float: left;
	width: 50%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.total {
	padding: 12px 12px 12px 0;
	display: inline-block;
	color: green;
	font-weight: bold;
}

.product {
	font-weight: bold;
}

.row {
	padding: 10px;
}

.error {
	color:red;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}